<div class="home-wrapper">
    <div class="home-component" ngIF="anagrafica">
        <h2>Anagrafica</h2>
        <p><strong>Username: </strong>{{ anagrafica.nominativo }}</p>
        <p><strong>Persona fisica: </strong>{{ anagrafica.personaFisica }}</p>
        <p><strong>CF: </strong>{{ anagrafica.codiceFiscale }}</p>
        <p><strong>P.IVA: </strong>{{ anagrafica.partitaIva }}</p>
        <p><strong>Data nascita: </strong>{{ anagrafica.dataNascita }}</p>
        <p><strong>Luogo nascita: </strong>{{ anagrafica.luogoNascita }}</p>
        <p><strong>Sesso: </strong>{{ anagrafica.sesso }}</p>
        <p><strong>Comune di nascita: </strong>{{ anagrafica.comuneNascita }}</p>
        <p><strong>Nome: </strong>{{ anagrafica.nome }}</p>
        <p><strong>Cognome: </strong>{{ anagrafica.cognome }}</p>
    </div>
</div>
<ng-template #loading>
    <p>Caricamento dati...</p>
  </ng-template>
