.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #007bff;
  padding: 10px;
}
  
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
  
.navbar a.active {
  font-weight: bold;
  text-decoration: underline;
}

.home-wrapper {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /*altezza dello schermo */
  margin: 0;
}

.home-component {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%; /* larghezza */ 
  max-width: 400px;
  text-align: center; /* Centra il testo */
  transform: translateY(-50px); /* con valori negativi sposta il componente più in alto rispetto al centro */
}

.home-component p {
  color:#45a049;
  font-weight: 550;
}

.home-component p strong{
  color: black;
  font-weight: 700;
}

.error-message {
  color: #fff;
  background-color: #e74c3c;
  padding: 12px;
  border-radius: 5px;
  font-weight: bold;
  margin: 20px 0;
}

h2 {
  text-align: center;
  color: #007bff;
}
