<div class="login-wrapper">
    <div class= "login-component">
        <h2> Login</h2>

        <form *ngIf="!isLog" (ngSubmit)="login()" #loginForm="ngForm" novalidate>

            <div class="form-group">
                <label id="username" for="username">Username </label>
                <input type="text" id="username" name="username" class="form-control" [(ngModel)]="form.username" required />
            </div>

            <div class="form-group">
                <label id="password" for="password">Password </label>
                <input type="password" name="password" class="form-control" [(ngModel)]="form.password" required #password="ngModel" />
            </div>
            
            <button type="submit" class="btn btn-primary btn-block">Login </button>
            <div class="form-group">
                <div *ngIf="loginForm.submitted && isFailledLog" class="alert alert-danger"> 
                    Login failed {{ errorMess}}
                </div>
            </div>
        </form>

        <div class="alert alert-success" *ngIf="isLog">
            Logged User: {{username}}
            <p><button type="submit" class="btn btn-primary btn-block" (click)="goToAnagrafica()" >Home</button></p>
            <p><button type="submit" class="btn btn-primary btn-block" (click)="logout()" >Logout </button><p>
        </div>
    </div>
    <div *ngIf="showPopup" class="popup-overlay">
        <div class="popup-box">
            <h3>Login effettuato da:  <p>{{username}}</p></h3>
        </div>
    </div>
</div>